
.text-input::placeholder {
    color: white;
    text-align: center;
}

.email-input::placeholder {
    color: gold;
    text-align: left;
}

input[type=date] {
    color: gold;
}
.email-input {
  color: white;
  width: 55%;
  height: 5vh;
  border: 1px solid #c9e6ff;
  margin-bottom: 0.5em;
  font-size: xx-large;
  background-color: rgba(0, 0, 0, 0.3)
}

.date-input {
    text-align: left;
    width: 55%;
    height: 5vh;
    border: 1px solid #c9e6ff;
    margin-bottom: 0.5em;
    font-size: xx-large;
    background-color: rgba(0, 0, 0, 0.3)
  }

.text-input {
    color: white;
    width: 55%;
    height: 60vh;
    border: 1px solid #c9e6ff;
    margin-bottom: 0.5em;
    font-size: x-large;
    background-color: rgba(0, 0, 0, 0.3)
}



.Form button {
    height: 5vh;   
    background: rgb(151, 151, 218);
    width: 55.5%;
    border: 0;
    text-transform: uppercase;
}

.Form form button:hover,
.Form form button:focus {
  background: rgba(241, 177, 37, 0.671);
  color: black;
  outline: 0;
  transition: background-color 0.5s ease-out;
}